---

---
<style>
.about{
    height: 80vh;
    background-color: aqua;
}
</style>
<section class="about">
<div class="aboutMe">
<h2>Some fun facts</h2>
<p>Im a webdev living on the west cost of sweden, 
I always had a passion for tech from a young age, 
but life took me the lon way around acualy working with devlopment and   
</p>
</div>
<div class="skills">
<h2>Skills</h2>
</div>
<p>Skills:
Javascript
CSS
HTML5
Bootstrap</p>


</section>