---

---
<style>
.container {
    width: 100%;
    min-height: 50vh;
    max-height: 60vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2{
  font-size: 2rem;
    margin-left: 1vh;
    margin-right: 1vh;

}
.container h2 {
}

#pic {
    width: 30vw;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
   
}

.btn {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 20px;
  max-width: 40vw;
  min-height: 50px;
  min-width: 40vw;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-top: 10vh;
}

.btn:hover,
.btn:focus { 
  background-color: #16437E;
  color: #ffffff;
}



</style>
<header>
<div class="container">
<div>
<h2>Hey! </h2>
<h2>Im Daniel<span>✌️</span></h2> 
</div>
<div>
<h2>Your Friendly Neighborhood Frontend Developer</h2>
<div>
<button class="btn chat">Let's chat</button>
</div>
</div>

<!-- <img id="pic"src="../assets/avatar.png" alt="The logo"> -->

</div><!-- End of container-->

</header>