---

---
<style>
nav{
    display: flex;
    height: 2rem;
}

.navLinks{
    display: flex;
    padding-top: 5px;
}
.navLinks li {
    padding-left: 1rem;
}

li>img{
    width: 30px;
    
}

</style>
<nav>
<ul>
<li><img src='../assets/logo.png'  alt=""></li></ul>
<ul class="navLinks">
<li><a href="#">Projekt</a></li>
<li><a href="#">Om</a></li>
<li><a href="#">Resume</a></li>
</ul>
</nav>