---

---
<style>
nav{
    display: flex;
    height: 2rem;
    padding-top: 5px;
}

.navLinks{
    display: flex;
}
.navLinks li {
    padding-left: 1rem;
}

</style>
<nav>
<ul>
<li>Place Icon here</li></ul>
<ul class="navLinks">
<li><a href="#">Projekt</a></li>
<li><a href="#">Om</a></li>
</ul>
</nav>